<a href="https://colab.research.google.com/github/MdRiyadulHasan/Numpy-and-Pandas/blob/main/Pandas_zeros_to_heros.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David','Riyad', 'Hasan', 'Fahim', 'Kamal', 'Jamal'],
    'Age': [25, 30, 35, 40, 32, 35, 25, 30, 50],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago','New York', 'New York', 'Los Angeles','Chicago', 'San Francisco']
}

df = pd.DataFrame(data)
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   40        Chicago
4    Riyad   32       New York
5    Hasan   35       New York
6    Fahim   25    Los Angeles
7    Kamal   30        Chicago
8    Jamal   50  San Francisco

In [ ]:
# Set the 'Name' column as the index
df.set_index('Name')
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   40        Chicago
4    Riyad   32       New York
5    Hasan   35       New York
6    Fahim   25    Los Angeles
7    Kamal   30        Chicago
8    Jamal   50  San Francisco

In [ ]:
df[['Name', 'Age']]

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40
4    Riyad   32
5    Hasan   35
6    Fahim   25
7    Kamal   30
8    Jamal   50

In [ ]:
# Select rows where Age is greater than 28
df[df['Age'] > 28]

      Name  Age           City
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   40        Chicago
4    Riyad   32       New York
5    Hasan   35       New York
7    Kamal   30        Chicago
8    Jamal   50  San Francisco

In [ ]:
names = df['Name']
print(names)

0      Alice
1        Bob
2    Charlie
3      David
4      Riyad
5      Hasan
6      Fahim
7      Kamal
8      Jamal
Name: Name, dtype: object

In [ ]:
# Sort the DataFrame by 'Age' in ascending order
df.sort_values(by='Age', ascending=True)

      Name  Age           City
0    Alice   25       New York
6    Fahim   25    Los Angeles
1      Bob   30  San Francisco
7    Kamal   30        Chicago
4    Riyad   32       New York
2  Charlie   35    Los Angeles
5    Hasan   35       New York
3    David   40        Chicago
8    Jamal   50  San Francisco

In [ ]:
# Group the DataFrame by 'City' and calculate the average age in each city
df.groupby('City')['Age'].mean()

City
Chicago          35.000000
Los Angeles      30.000000
New York         30.666667
San Francisco    40.000000
Name: Age, dtype: float64

In [ ]:
row = df.loc[1]  # Access the second row (index 1)
print(row)

Name              Bob
Age                30
City    San Francisco
Name: 1, dtype: object

In [ ]:
print(df.describe())

             Age
count   9.000000
mean   33.555556
std     7.828012
min    25.000000
25%    30.000000
50%    32.000000
75%    35.000000
max    50.000000

In [ ]:
filtered_df = df[df['Age'] > 30]  # Get rows where Age is greater than 30
print(filtered_df)

      Name  Age           City
2  Charlie   35    Los Angeles
3    David   40        Chicago
4    Riyad   32       New York
5    Hasan   35       New York
8    Jamal   50  San Francisco

In [ ]:
df['Gender'] = ['Female', 'Male', 'Male', 'Male', 'Male','Female','Female', 'Male', 'Male',]
print(df)

      Name  Age           City  Gender
0    Alice   25       New York  Female
1      Bob   30  San Francisco    Male
2  Charlie   35    Los Angeles    Male
3    David   40        Chicago    Male
4    Riyad   32       New York    Male
5    Hasan   35       New York  Female
6    Fahim   25    Los Angeles  Female
7    Kamal   30        Chicago    Male
8    Jamal   50  San Francisco    Male

In [ ]:
# Rename Column
df.rename(columns={'Name': 'Full Name', 'Age': 'Years Old'}, inplace=True)
print(df)

  Full Name  Years Old           City  Gender
0     Alice         25       New York  Female
1       Bob         30  San Francisco    Male
2   Charlie         35    Los Angeles    Male
3     David         40        Chicago    Male
4     Riyad         32       New York    Male
5     Hasan         35       New York  Female
6     Fahim         25    Los Angeles  Female
7     Kamal         30        Chicago    Male
8     Jamal         50  San Francisco    Male

In [ ]:
df['Income'] = [50000, None, 60000, 25000, 35000,70000,58000,45000,65000,]
print(df)

  Full Name  Years Old           City  Gender   Income
0     Alice         25       New York  Female  50000.0
1       Bob         30  San Francisco    Male      NaN
2   Charlie         35    Los Angeles    Male  60000.0
3     David         40        Chicago    Male  25000.0
4     Riyad         32       New York    Male  35000.0
5     Hasan         35       New York  Female  70000.0
6     Fahim         25    Los Angeles  Female  58000.0
7     Kamal         30        Chicago    Male  45000.0
8     Jamal         50  San Francisco    Male  65000.0

In [ ]:
df.dropna(inplace= True)  # Remove rows with missing values
print(df)

  Full Name  Years Old           City  Gender   Income
0     Alice         25       New York  Female  50000.0
2   Charlie         35    Los Angeles    Male  60000.0
3     David         40        Chicago    Male  25000.0
4     Riyad         32       New York    Male  35000.0
5     Hasan         35       New York  Female  70000.0
6     Fahim         25    Los Angeles  Female  58000.0
7     Kamal         30        Chicago    Male  45000.0
8     Jamal         50  San Francisco    Male  65000.0

In [ ]:
df.to_csv('my_data.csv', index=False)  # Save to CSV
loaded_df = pd.read_csv('my_data.csv')  # Load from CSV
print(loaded_df)

  Full Name  Years Old           City  Gender   Income
0     Alice         25       New York  Female  50000.0
1   Charlie         35    Los Angeles    Male  60000.0
2     David         40        Chicago    Male  25000.0
3     Riyad         32       New York    Male  35000.0
4     Hasan         35       New York  Female  70000.0
5     Fahim         25    Los Angeles  Female  58000.0
6     Kamal         30        Chicago    Male  45000.0
7     Jamal         50  San Francisco    Male  65000.0

In [ ]:
import pandas as pd

# First DataFrame
data1 = {'ID': [1, 2, 3, 4],
         'Name': ['Alice', 'Bob', 'Charlie', 'David']}
df1 = pd.DataFrame(data1)

# Second DataFrame
data2 = {'ID': [2, 3, 4, 5],
         'Age': [25, 30, 35, 40]}
df2 = pd.DataFrame(data2)
# Merge based on the 'ID' column
merged_df1 = pd.merge(df1, df2, on='ID')
merged_df2 = pd.merge(df1, df2, on='ID', how='outer')
merged_df3 = pd.merge(df1, df2, on='ID', how='left')
merged_df4 = pd.merge(df1, df2, on='ID', how='right')

print("Hello \n ",merged_df1)
print("Hello \n ",merged_df2)
print("Hello \n ",merged_df3)
print("Hello \n ",merged_df4)

Hello
     ID     Name  Age
0   2      Bob   25
1   3  Charlie   30
2   4    David   35
Hello
     ID     Name   Age
0   1    Alice   NaN
1   2      Bob  25.0
2   3  Charlie  30.0
3   4    David  35.0
4   5      NaN  40.0
Hello
     ID     Name   Age
0   1    Alice   NaN
1   2      Bob  25.0
2   3  Charlie  30.0
3   4    David  35.0
Hello
     ID     Name  Age
0   2      Bob   25
1   3  Charlie   30
2   4    David   35
3   5      NaN   40

In [ ]:
import pandas as pd

# Create the first DataFrame with employee information
employee_data = {
    'employee_id': [1, 2, 3, 4, 5],
    'employee_name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'department_id': [101, 102, 101, 103, 102]
}

df_employee = pd.DataFrame(employee_data)

# Create the second DataFrame with department information
department_data = {
    'department_id': [101, 102, 103],
    'department_name': ['HR', 'Finance', 'IT']
}

df_department = pd.DataFrame(department_data)

# Now, let's merge these DataFrames based on the 'department_id' column
merged_df = pd.merge(df_employee, df_department, on='department_id')

print(merged_df)

   employee_id employee_name  department_id department_name
0            1         Alice            101              HR
1            3       Charlie            101              HR
2            2           Bob            102         Finance
3            5           Eve            102         Finance
4            4         David            103              IT

In [ ]:
import pandas as pd

# Create two sample DataFrames
data1 = {
    'ID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Department': ['HR', 'Engineering', 'Finance', 'Engineering']
}

data2 = {
    'ID': [3, 4, 5, 6],
    'Salary': [55000, 60000, 65000, 70000],
    'Location': ['New York', 'San Francisco', 'Chicago', 'Boston']
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Merge the two DataFrames based on a common column 'ID'
merged_df = pd.merge(df1, df2, on='ID')
merged_df1 = pd.merge(df1, df2, on='ID', how = 'outer')
merged_df2 = pd.merge(df1, df2, on='ID',  how = 'left')
merged_df3 = pd.merge(df1, df2, on='ID',  how = 'right')

print(merged_df)
print("........................................\n")
print(merged_df1)
print("........................................\n")
print(merged_df2)
print("........................................\n")
print(merged_df3)

   ID     Name   Department  Salary       Location
0   3  Charlie      Finance   55000       New York
1   4    David  Engineering   60000  San Francisco
........................................

   ID     Name   Department   Salary       Location
0   1    Alice           HR      NaN            NaN
1   2      Bob  Engineering      NaN            NaN
2   3  Charlie      Finance  55000.0       New York
3   4    David  Engineering  60000.0  San Francisco
4   5      NaN          NaN  65000.0        Chicago
5   6      NaN          NaN  70000.0         Boston
........................................

   ID     Name   Department   Salary       Location
0   1    Alice           HR      NaN            NaN
1   2      Bob  Engineering      NaN            NaN
2   3  Charlie      Finance  55000.0       New York
3   4    David  Engineering  60000.0  San Francisco
........................................

   ID     Name   Department  Salary       Location
0   3  Charlie      Finance   55000       New York
1   4    David  Engineering   60000  San Francisco
2   5      NaN          NaN   65000        Chicago
3   6      NaN          NaN   70000         Boston

In [ ]:
import pandas as pd

# Creating the first DataFrame with student information
students_data = {
    'student_id': [1, 2, 3, 4, 5],
    'first_name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'last_name': ['Smith', 'Johnson', 'Brown', 'Davis', 'Lee'],
    'age': [20, 22, 21, 23, 24]
}

students_df = pd.DataFrame(students_data)

# Creating the second DataFrame with course enrollment information
courses_data = {
    'student_id': [1, 2, 3, 4, 6],
    'course_name': ['Math', 'Science', 'History', 'English', 'Art'],
    'grade': ['A', 'B', 'A', 'C', 'A']
}

courses_df = pd.DataFrame(courses_data)

# Now, let's merge these DataFrames based on the 'student_id' column
merged_df = pd.merge(students_df, courses_df, on='student_id', how='inner')

# Explanation:
# - 'on' specifies the common column to merge on, which is 'student_id' in this case.
# - 'how' specifies the type of join to perform. Here, 'inner' means we only include students who are enrolled in courses.

# Display the merged DataFrame
print(merged_df)

   student_id first_name last_name  age course_name grade
0           1      Alice     Smith   20        Math     A
1           2        Bob   Johnson   22     Science     B
2           3    Charlie     Brown   21     History     A
3           4      David     Davis   23     English     C

In [ ]:
import pandas as pd

# Creating a DataFrame with sales data
data = {
    'product': ['A', 'B', 'A', 'C', 'B', 'A', 'C', 'A'],
    'date': ['2023-01-01', '2023-01-01', '2023-01-02', '2023-01-02', '2023-01-03', '2023-01-03', '2023-01-04', '2023-01-04'],
    'sales': [100, 150, 120, 80, 200, 90, 110, 130]
}

df = pd.DataFrame(data)

# Grouping the DataFrame by 'product'
grouped = df.groupby('product')

# Now, let's perform some operations on the groups:

# 1. Calculate the total sales for each product
total_sales = grouped['sales'].sum()
total_sales1 =df.groupby('product')['sales'].sum()

# 2. Calculate the average sales for each product
average_sales = grouped['sales'].mean()

# 3. Find the maximum sales for each product
max_sales = grouped['sales'].max()

# 4. Count the number of transactions for each product
transaction_count = grouped.size()

# Display the results
print("Total Sales:")
print(total_sales1)
print("\nAverage Sales:")
print(average_sales)
print("\nMaximum Sales:")
print(max_sales)
print("\nTransaction Count:")
print(transaction_count)

Total Sales:
product
A    440
B    350
C    190
Name: sales, dtype: int64

Average Sales:
product
A    110.0
B    175.0
C     95.0
Name: sales, dtype: float64

Maximum Sales:
product
A    130
B    200
C    110
Name: sales, dtype: int64

Transaction Count:
product
A    4
B    2
C    2
dtype: int64

In [ ]:
import pandas as pd

# Creating a DataFrame with sales data
data = {
    'product': ['A', 'B', 'A', 'C', 'B', 'A', 'C', 'A'],
    'date': ['2023-01-01', '2023-01-01', '2023-01-02', '2023-01-02', '2023-01-03', '2023-01-03', '2023-01-04', '2023-01-04'],
    'sales': [100, 150, 120, 80, 200, 90, 110, 130]
}

df = pd.DataFrame(data)

# Grouping the DataFrame by 'product'
grouped = df.groupby('date')

# Now, let's perform some operations on the groups:

# 1. Calculate the total sales for each product
total_sales = grouped['sales'].sum()

# 2. Calculate the average sales for each product
average_sales = grouped['sales'].mean()

# 3. Find the maximum sales for each product
max_sales = grouped['sales'].max()

# 4. Count the number of transactions for each product
transaction_count = grouped.size()

# Display the results
print("Total Sales:")
print(total_sales)
print("\nAverage Sales:")
print(average_sales)
print("\nMaximum Sales:")
print(max_sales)
print("\nTransaction Count:")
print(transaction_count)

Total Sales:
date
2023-01-01    250
2023-01-02    200
2023-01-03    290
2023-01-04    240
Name: sales, dtype: int64

Average Sales:
date
2023-01-01    125.0
2023-01-02    100.0
2023-01-03    145.0
2023-01-04    120.0
Name: sales, dtype: float64

Maximum Sales:
date
2023-01-01    150
2023-01-02    120
2023-01-03    200
2023-01-04    130
Name: sales, dtype: int64

Transaction Count:
date
2023-01-01    2
2023-01-02    2
2023-01-03    2
2023-01-04    2
dtype: int64

In [ ]:
import pandas as pd

# Creating a sample DataFrame
data = {
    'product_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'product_name': ['Apple', 'Banana', 'Apple', 'Orange', 'Banana', 'Orange', 'Apple', 'Banana', 'Orange', 'Apple'],
    'product_category': ['Fruit', 'Flower', 'Fruit', 'Fruit', 'Toy', 'Book', 'Fruit', 'Fruit', 'Fruit', 'Toy', ],
    'price': [1.0, 0.5, 1.2, 0.8, 0.6, 0.7, 1.1, 0.4, 0.9, 1.0],
    'quantity_sold': [10, 15, 8, 12, 20, 9, 11, 18, 14, 7]
}

df = pd.DataFrame(data)

# Grouping by 'product_category' and aggregating data
grouped = df.groupby('product_category').agg({
    'quantity_sold': 'sum',
    'price':'min'
}).reset_index()
print(grouped)

  product_category  quantity_sold  price
0             Book              9    0.7
1           Flower             15    0.5
2            Fruit             73    0.4
3              Toy             27    0.6

In [ ]:
import pandas as pd

# Creating a sample DataFrame
data = {
    'Product': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B'],
    'Category': ['X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y'],
    'Price': [10.0, 15.0, 12.0, 18.0, 11.0, 16.0, 13.0, 19.0],
    'Quantity': [100, 150, 120, 180, 110, 160, 130, 190]
}

df = pd.DataFrame(data)

# Grouping by 'Category'
grouped = df.groupby('Category')

# Calculating total sales and average price for each category
total_sales = grouped['Price'].sum()
average_price = grouped['Price'].mean()
total_count = grouped.size()

# Display the results
print("Total Sales by Category:")
print(total_sales)
print("\nAverage Price by Category:")
print(average_price)

print(total_count)

Total Sales by Category:
Category
X    46.0
Y    68.0
Name: Price, dtype: float64

Average Price by Category:
Category
X    11.5
Y    17.0
Name: Price, dtype: float64
Category
X    4
Y    4
dtype: int64

In [ ]:
import pandas as pd

# Creating a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Hasan', 'Fahim', 'Kamal'],
    'Age': [25, 30, 22, 35, 28, 22, 20, 22],
    'Salary': [50000, 60000, 65000, 40000, 55000,35000,78000,15000 ]
}

df = pd.DataFrame(data)

# Sorting by a single column in ascending order
sorted_df = df.sort_values(by='Age')

# Sorting by a single column in descending order
sorted_df_desc = df.sort_values(by='Salary', ascending=False)

# Sorting by multiple columns
sorted_multi_df = df.sort_values(by=['Age', 'Salary'], ascending=False)

# Display the sorted DataFrames
print("Sorted by Age (ascending):\n", sorted_df)
print("\nSorted by Salary (descending):\n", sorted_df_desc)
print("\nSorted by Age and Salary:\n", sorted_multi_df)

Sorted by Age (ascending):
       Name  Age  Salary
6    Fahim   20   78000
2  Charlie   22   65000
5    Hasan   22   35000
7    Kamal   22   15000
0    Alice   25   50000
4      Eva   28   55000
1      Bob   30   60000
3    David   35   40000

Sorted by Salary (descending):
       Name  Age  Salary
6    Fahim   20   78000
2  Charlie   22   65000
1      Bob   30   60000
4      Eva   28   55000
0    Alice   25   50000
3    David   35   40000
5    Hasan   22   35000
7    Kamal   22   15000

Sorted by Age and Salary:
       Name  Age  Salary
3    David   35   40000
1      Bob   30   60000
4      Eva   28   55000
0    Alice   25   50000
2  Charlie   22   65000
5    Hasan   22   35000
7    Kamal   22   15000
6    Fahim   20   78000

In [ ]:
import pandas as pd

# Creating a sample DataFrame
data = {
    'Employee_ID': [101, 102, 103, 104, 105, 106,108,100],
    'First_Name': ['Alice', 'Bob', 'Charlie', 'David', 'Ava','David', 'Aamir', 'Aaa'],
    'Last_Name': ['Smith', 'Johnson', 'Brown', 'Davis', 'Lee', 'Hasan','Kamal', 'Mahnub'],
    'Salary': [55000, 60000, 48000, 72000, 83000, 65000,55000,90000]
}

df = pd.DataFrame(data)
# apply
df['Salary'] = df['Salary'].apply(lambda x: x + 100)
print(df)

# Sorting the DataFrame by 'Salary' in descending order
sorted_df = df.sort_values(by='Salary', ascending=False)

# Display the sorted DataFrame
print(sorted_df)

   Employee_ID First_Name Last_Name  Salary
0          101      Alice     Smith   55100
1          102        Bob   Johnson   60100
2          103    Charlie     Brown   48100
3          104      David     Davis   72100
4          105        Ava       Lee   83100
5          106      David     Hasan   65100
6          108      Aamir     Kamal   55100
7          100        Aaa    Mahnub   90100
   Employee_ID First_Name Last_Name  Salary
7          100        Aaa    Mahnub   90100
4          105        Ava       Lee   83100
3          104      David     Davis   72100
5          106      David     Hasan   65100
1          102        Bob   Johnson   60100
0          101      Alice     Smith   55100
6          108      Aamir     Kamal   55100
2          103    Charlie     Brown   48100

In [ ]:
# Sorting by 'Salary' in descending order and then by 'First_Name' in ascending order
sorted_df = df.sort_values(by=['Salary','First_Name' ], ascending=[ False, True])
print(sorted_df)

   Employee_ID First_Name Last_Name  Salary
7          100        Aaa    Mahnub   90000
4          105        Ava       Lee   83000
3          104      David     Davis   72000
5          106      David     Hasan   65000
1          102        Bob   Johnson   60000
6          108      Aamir     Kamal   55000
0          101      Alice     Smith   55000
2          103    Charlie     Brown   48000

In [ ]:
df.to_excel('data.xlsx', index=False)

In [ ]:
df['SalaryIncrement'] = df['Salary'].apply(lambda x: x + 1000)
print(df)

   Employee_ID First_Name Last_Name  Salary  SalaryIncrement
0          101      Alice     Smith   55100            56100
1          102        Bob   Johnson   60100            61100
2          103    Charlie     Brown   48100            49100
3          104      David     Davis   72100            73100
4          105        Ava       Lee   83100            84100
5          106      David     Hasan   65100            66100
6          108      Aamir     Kamal   55100            56100
7          100        Aaa    Mahnub   90100            91100

In [ ]:
# df.drop('Salary', axis=1, inplace=True)
print(df)

   Employee_ID First_Name Last_Name  SalaryIncrement
0          101      Alice     Smith            56100
1          102        Bob   Johnson            61100
2          103    Charlie     Brown            49100
3          104      David     Davis            73100
4          105        Ava       Lee            84100
5          106      David     Hasan            66100
6          108      Aamir     Kamal            56100
7          100        Aaa    Mahnub            91100

In [ ]:
grouped = df.groupby('First_Name')['SalaryIncrement'].count()
print(grouped)

First_Name
Aaa        1
Aamir      1
Alice      1
Ava        1
Bob        1
Charlie    1
David      2
Name: SalaryIncrement, dtype: int64

In [ ]:
import pandas as pd

# Creating two DataFrames
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                    'B': ['B0', 'B1', 'B2']})

df2 = pd.DataFrame({'A': ['A3', 'A4', 'A5'],
                    'B': ['B3', 'B4', 'B5']})

# Concatenating vertically (along rows)
result_vertical = pd.concat([df1, df2], axis=0)

# Concatenating horizontally (along columns)
result_horizontal = pd.concat([df1, df2], axis=1)
print(result_vertical)
print(result_horizontal)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
0  A3  B3
1  A4  B4
2  A5  B5
    A   B   A   B
0  A0  B0  A3  B3
1  A1  B1  A4  B4
2  A2  B2  A5  B5

In [ ]:
import pandas as pd

# Create two DataFrames
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'C': [7, 8, 9], 'D': [10, 11, 12]})

# Use concat to stack them vertically (row-wise)
result = pd.concat([df1, df2], axis=0)
print(result)

     A    B    C     D
0  1.0  4.0  NaN   NaN
1  2.0  5.0  NaN   NaN
2  3.0  6.0  NaN   NaN
0  NaN  NaN  7.0  10.0
1  NaN  NaN  8.0  11.0
2  NaN  NaN  9.0  12.0

In [ ]:
import pandas as pd

# Create two DataFrames
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'C': [7, 8, 9], 'D': [10, 11, 12]})

# Use concat to stack them vertically (row-wise)
result = pd.concat([df1, df2], axis=1)
print(result)

   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

In [ ]:
import pandas as pd

# Create two sample DataFrames
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'],
                    'value1': [1, 2, 3, 4]})

df2 = pd.DataFrame({'key': ['B', 'D', 'E', 'F'],
                    'value2': [5, 6, 7, 8]})

# Inner join on 'key' column
result = pd.merge(df1, df2, on='key', how='inner')

print(result)

  key  value1  value2
0   B       2       5
1   D       4       6

In [ ]:
import pandas as pd

# Load data from a JSON file
df = pd.read_json('data.json')

# Display the loaded DataFrame
print(df.head())

In [ ]:
import pandas as pd

# Creating a sample DataFrame
data = {'A': [1, 2, 3, 4, 5],
        'B': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Accessing data using integer-based indexing
value = df.iloc[2, 1]  # Access the element in the third row and second column
# Accessing data using label-based indexing
value1 = df.loc[3, 'B']  # Access the element in the fourth row and the 'B' column

print(value)
print(value1)

30
40

In [ ]:
# Slicing rows and columns
subset = df.iloc[1:4, 0:2]  # Select rows 2 to 4 and columns 1 to 2
print(subset)

   A   B
1  2  20
2  3  30
3  4  40

In [ ]:
# Accessing columns
column_A = df['A']  # Using square brackets
column_B = df.B      # Using dot notation
print(column_A)
print(column_B)

0    1
1    2
2    3
3    4
4    5
Name: A, dtype: int64
0    10
1    20
2    30
3    40
4    50
Name: B, dtype: int64

In [ ]:
# Setting 'A' as the index
df.set_index('A', inplace=True)
print(df)
# Resetting the index
df.reset_index(inplace=True)
print(df)

    B
A
1  10
2  20
3  30
4  40
5  50
   A   B
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50

In [ ]:
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}
df = pd.DataFrame(data)

# Select a single column
name_column = df['Name']

# Select multiple columns
name_and_age = df[['Name', 'Age']]

In [ ]:
# Select rows where Age is greater than 30 and City is 'New York'
criteria = (df['Age'] > 30) & (df['City'] == 'Los Angeles')
result = df[criteria]
print(result)

      Name  Age         City
2  Charlie   35  Los Angeles

In [ ]:
import pandas as pd
import numpy as np

# Creating a Pandas DataFrame from a NumPy array
data = np.array([[1, 2, 3], [4, 5, 6]])
df = pd.DataFrame(data, columns=['A', 'B', 'C'])
print(df)

   A  B  C
0  1  2  3
1  4  5  6

In [ ]:
# Converting a Pandas DataFrame to a NumPy array
numpy_array = df.to_numpy()
print(numpy_array)

[[1 2 3]
 [4 5 6]]

In [ ]:
import pandas as pd
import numpy as np

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

# Applying a NumPy function (e.g., square root)
result = np.sqrt(df['A'])
result1 = np.square(df['A'])
print(result)
print(result1)

0    1.000000
1    1.414214
2    1.732051
Name: A, dtype: float64
0    1
1    4
2    9
Name: A, dtype: int64